/** #cajas,#segundoParrafo, #tercerParrafo {
    background-color: grey;
    width:150px;
    margin: 15px;
    padding: 20px;
    border-radius: 5%;
}
**/
body{
    width:300px;
    margin: 100px auto;
}

.cajas {
    background-color: grey;
    width:150px;
    margin: 15px;
    padding: 20px;
    border-radius: 5%;
}