*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.posicionRelativa{
    position: relative;
}

.cajaRelativa{
    top: 50px;
    left:100px;
}

.cajaRelativa2{
    top: -170px;
    left: 210px;
}

.cajaRelativa3{
    top: -390px;
    left: 320px;
}
.boxGallery{
    width: 100px;
    height: 100px;
    background-color: darkolivegreen;
    color: white;
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

.gallery{
    height: auto;
    border: solid;
    background-color: black;
    position: relative
}

.posicionFixed{
    position:fixed;
    top:0;
    right: 0;
}

.posicionAbsolute{
    position: absolute;
}

.cajaAbsoluta1{
    top:0;
    left: 120px;
}

.stickyContainer{
    border: 5px solid blue;
}

.posicionSticky{
    position: sticky;
}

.impressive-button:hover{
    background-color: lightblue;
    transform: scale(1.1);
}